:root {
    --color-1: #ffffff;
    --color-2: #eef5fb;
    --color-3: #bed4e6;
    --color-4: #566d7e;
    --radius: 3px
}

* {
    margin: 0;
    box-sizing: border-box
}

body,html {
    height: 100%
}

html {
    -webkit-font-smoothing: antialiased;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    scrollbar-color: #161616 #4c4557;
    scrollbar-width: thin
}

body {
    font: 16px/1.5 Arial,Helvetica,sans-serif;
    color: #333
}

#export-div,#links,.bg {
    background: var(--color-3)
}

#export-div,#links {
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 4em;
    transform: translateX(-50%);
    border: 1px solid #aaa;
    border-radius: var(--radius);
    min-height: 300px;
    max-width: 90%;
    min-width: 280px;
    width: 30%;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain
}

#links input {
    margin: 1em
}

#links .inside {
    width: 100%;
    margin: 0 auto;
    padding: 4px 0 0
}

#copy-links,#open,.close {
    position: absolute;
    border: 0;
    border-radius: var(--radius);
    color: #fff;
    text-align: center;
    background: var(--color-4);
    display: none
}

#copy-links,#open {
    right: .75em;
    top: .75em
}

.close {
    top: 0;
    right: 0;
    font-size: 2em;
    color: var(--color-1);
    padding: 0;
    line-height: .75;
    height: .75em;
    width: .75em
}

.checks #copy-links,.checks #open,.checks .close {
    display: block
}

#copy-links {
    left: .75em
}

#urls {
    font-weight: 700
}

#selection {
    position: relative
}

#select,.close {
    cursor: pointer
}

#select {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
    margin: 0 auto
}

#check-boxes {
    position: absolute;
    width: 100%;
    display: none;
    background: var(--color-1);
    border: 1px var(--color-4) solid;
    column-count: 3;
    overflow: hidden;
    z-index: 1;
    box-sizing: border-box
}

#check-boxes input,#check-boxes label {
    cursor: pointer;
    text-transform: lowercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 4px 0 0;
    vertical-align: middle;
    box-sizing: border-box
}

#check-boxes label {
    width: 100%;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 4px;
    font-family: Arial,Helvetica,sans-serif
}

#check-boxes:not(label) {
    font-size: 0
}

#choices {
    display: block;
    box-sizing: border-box;
    overflow-x: auto;
    scrollbar-width: thin;
    text-transform: lowercase;
    margin: 0 auto;
    padding: 0 1em
}

#choices p,#output a {
    background: var(--color-1)
}

#choices p {
    margin: 0;
    padding: 0 4px
}

#wrap,button:hover {
    background: var(--color-2)
}

#wrap {
    min-height: calc(100vh - 48px);
    max-width: 1072px;
    margin: .75em auto
}

#output {
    display: grid;
    gap: .5em;
    padding: .5em;
    grid-template-columns: repeat(auto-fit,minmax(144px,1fr));
    border-radius: var(--radius)
}

#output a img {
    height: 1em;
    width: 1em;
    position: absolute;
    top: .25em;
    left: .25em;
    overflow: hidden
}

#output .urls,a.link {
    width: 100%;
    overflow: hidden
}

.export-import,a.link {
    display: flex;
    flex-direction: column
}

a.link {
    border-radius: var(--radius);
    align-items: center;
    text-decoration: none;
    word-break: break-word;
    max-width: 144px;
    height: 5em;
    margin: auto;
    position: relative;
    border: 1px solid var(--color-3)
}

#output a:hover {
    border: 1px solid var(--color-4)
}

#output .urls {
    color: var(--color-4);
    padding: 0 0 0 2em;
    background: var(--color-1);
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
    border-bottom: 1px solid var(--color-3);
    height: 2em;
    box-sizing: border-box;
    line-height: 2;
    font-size: .75em
}

#export {
    margin: 2em 0;
    box-sizing: border-box
}

#additions,#create-link,#export,#site-search,#urls {
    width: 100%
}

#create-link {
    position: absolute;
    bottom: 12px;
    display: block;
    left: 16px;
    width: calc(100% - 32px)
}

label {
    display: flex;
    font-size: 0;
    line-height: 1
}

button,input[type=checkbox],input[type=file] {
    min-height: 1em;
    min-width: 1em;
    width: fit-content;
    border-radius: var(--radius);
    border: 1px solid var(--color-4);
    color: var(--color-2);
    background: var(--color-4);
    font: 16px/2"Gill Sans","Gill Sans MT",Calibri,"Trebuchet MS",sans-serif;
    cursor: pointer
}

button:hover {
    color: var(--color-4)
}

.export-import {
    gap: 1em;
    white-space: nowrap;
    padding: 3em 1em
}

#search,.export-import>div {
    overflow: hidden;
    border-radius: var(--radius)
}

.export-import label {
    display: inline-block;
    font-size: initial
}

h1 {
    margin: 0;
    font-size: 16px;
    text-align: center;
    color: var(--color-1);
    line-height: 2;
    background: var(--color-4)
}

#search {
    position: relative;
    margin: .75em auto;
    max-width: 90%;
    width: 300px;
    line-height: 1
}

#founded,.toggle {
    overflow: hidden;
    top: .75em;
    position: absolute
}

#founded {
    transform: translateX(100%);
    right: calc(50% - 160px)
}

#founded,#search input,.toggle label {
    background: var(--color-2);
    border: 1px solid var(--color-2);
    border-radius: var(--radius)
}

#search input {
    padding: 0 4px;
    font-size: 1em;
    line-height: 1;
    margin: 0;
    appearance: none;
    inset-block: 1em;
    block-size: 1.5em
}

#founded,.toggle label {
    display: flex;
    flex-direction: column-reverse;
    place-content: center;
    cursor: pointer;
    height: 24px
}

.toggle label {
    overflow: hidden
}

.toggle {
    isolation: isolate;
    height: 1.5em;
    left: calc(50% - 160px);
    transform: translateX(-100%);
    inline-size: 3em
}

input.hidden:checked~.indicator {
    transform: translate3d(100%,0,0);
    background: var(--color-4)
}

.hidden {
    display: none!important
}

.indicator {
    height: 100%;
    width: 50%;
    background: var(--color-3);
    border-radius: var(--radius);
    transform: translate3d(0,0,0);
    transition: transform .1s cubic-bezier(0,1.5,1,1.5);
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid var(--color-2)
}

.texts,.types,.urls {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    inline-size: 128px;
    color: var(--color-4)
}

@media only screen and (max-width:750px) {
    #search {
        margin: 3.75em auto 0
    }

    #output {
        grid-template-columns: repeat(auto-fit,minmax(144px,1fr))
    }

    #founded,.toggle {
        top: 3.75em
    }
}